<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div class="main-content">
    <h1>{{>header}}</h1>
    <p>This site tells the weather . Is is based on node.js</p>
    <img class="portrait" src="./image/mountain.jpeg">
</div>
{{>footer}}
</body>
</html>